<!-- snippets/custom-customized-swatch-extended -->
<div>
  <div class="swatch-type font-color" data-type="Font Color" data-index="4">
    <label class="product-form-label">Lorem ipsum dolor sit amet</label>
    <div class="swatch-elements-options">
      <div class="swatch-elements-wrapper">
        <label id="prod-swatch-color-black-1" class="swatch-element swatch-element-color round" data-swatch="Black">
          <input type="text" id="id-jq-swatch-color-element-1-4" data-swatch-index="4" name="swatch_element_text_option_4">
        </label>
      </div>
    </div>
  </div>
</div>

{% comment %} Font Color {% endcomment %}
<div class="swatch-type font-color" data-type="Font Color" data-index="5">
  <label class="product-form-label">Font Color</label>
  <div class="swatch-elements-options">
    <div class="swatch-elements-wrapper">
      <label id="prod-swatch-color-black-1" class="swatch-element swatch-element-color round" data-swatch="Black">
        <input type="radio" id="id-jq-swatch-color-element-1-5" class="swatch-variant-value jq-swatch-element" value="Black" data-swatch-index="5" name="swatch_element_font_color_option_5" checked>
        <span class="lazybg swatch-value swatch-background-black black" style="background-color: black;"></span>
        <span class="swatch-value-color-circle-checked"></span>
        <span class="tooltip">Black</span>
      </label>
      <label id="prod-swatch-color-white-1" class="swatch-element swatch-element-color round" data-swatch="White">
        <input type="radio" id="id-jq-swatch-color-element-2-5" class="swatch-variant-value jq-swatch-element" value="White" data-swatch-index="5" name="swatch_element_font_color_option_5" required>
        <span class="lazybg swatch-value swatch-background-white white" style="background-color: white;"></span>
        <span class="swatch-value-color-circle-checked"></span>
        <span class="tooltip">White</span>
      </label>
    </div>
  </div>
</div>