<!-- start 404.liquid (SECTION) -->
<div class="wrapper">
	<h2 class="content-h2">{{ 'general.404.title' | t }}</h2>
	<p class="content-p">{{ 'general.404.subtext_html' | t }}</p>
</div>
<style>
	.template-404 .main-content {
		width: 99%;
		float: left;
		padding-top: 40px;
	}
	.template-404 .main-content .section-collection-list,
	.template-404 .main-content .section-slide-promotional {
		margin-top: 40px;
	}
	.template-404 .main-content .section-collection-list .section-title,
	.template-404 .main-content .section-slide-promotional .section-title {
		display: block;
		padding-top: 0;
	}
	.template-404 .footer-section {
		float: left;
	}
	.template-404 .content-p {
		margin-bottom: 30px;
	}
	.template-404 .sld-promotional {
		margin-bottom: 40px;
	}    
</style>
