--copy_body: ({{ settings.vasta_copy_body }}/16) + 0rem;
--copy_body_tablet: ({{ settings.vasta_copy_body_tablet }}/16) + 0rem;
--copy_body_mobile: ({{ settings.vasta_copy_body_mobile }}/16) + 0rem;
--color-link: {{ settings.color_link }};

--h1Size: ({{ settings.typography_h1_font_size }}/16) + 0rem;
--h1SizeTablet: ({{ settings.typography_h1_font_size_tablet }}/16) + 0rem;
--h1SizeMobile: ({{ settings.typography_h1_font_size_mobile }}/16) + 0rem;
--h1Color: {{settings.color_h1}};

--h2Size: ({{ settings.typography_h2_font_size }}/16) + 0rem;
--2SizeTablet: ({{ settings.typography_h2_font_size_tablet }}/16) + 0rem;
--2SizeMobile: ({{ settings.typography_h2_font_size_mobile }}/16) + 0rem;
--2Color: {{ settings.color_h2 }};

{{ settings.copy_body_font | font_face: font_display: 'swap'  }}
{{ settings.general_font | font_face: font_display: 'swap' }}
{{ settings.copy_bold_body_font | font_face: font_display: 'swap' }}

--headerFont: {{ settings.general_font.family }};
--copyBodyFont: {{ settings.copy_body_font.family }};

body * {
	font-size: var(--copy_body);
	font-family: var(--copyBodyFont), Arial, sans-serif;
	font-weight: normal;
	line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--headerFont), Arial, sans-serif;
	line-height: 1.4;
}
.password__wrapper {
	box-sizing: border-box;
	max-width: calc(410px + 4rem);
	min-height: calc(100vh - 5rem);
	margin: 0 auto;
	padding: 0 2rem;
	padding-top: 20vh;
	padding-bottom: 6rem;
}
.password__store-name {
	font-size: var(--h1Size);
	color: var(--h1Color);
	margin-bottom: 0;
}
.password__description {
	color: #6c6c6c;
	margin: 0;
}
.password__login-wrapper {
	width: 100%;
	padding: 20px 0;
}
.password__label,
.password__titles-password,
.password__content {
	display: flex;
}
.password__logo {
	margin-bottom: 40px;
	width: 100%;
	max-width: 150px;
}
.password__logo img,
.password__logo svg {
	max-width: 100%;
}
.icon-shopify {
	width: 117px;
	height: 34px;
}
.password__titles-password {
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.password__content {
	flex-wrap: wrap;
	width: 100%;
}
.password__input {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	padding: 12px;
	margin-bottom: 27px;
	outline: none;
}
.password__input:focus {
	box-shadow: 0 0 0 2px #008060;
}
.password__btn-submit {
	border: none;
	border-radius: 3px;
	background-color: #008060;
	color: white;
	padding: 12px 30px;
	box-shadow: 0 5px 10px 0 #ccc;
}
.password__btn-submit:hover, .password__btn-submit:active {
	background-color: #004c3f;
}
.password__close,
.password__link,
.password__btn-submit {
	cursor: pointer;
}
.password__link--color {
	color: var(--color-link);
}
.password__link--margin {
	margin-left: 5px;
}
.password__link--decoration {
	text-decoration: underline;
}
.password__btn--margin {
	margin-bottom: 20px;
}
.password__close {
	display: inherit;
}
.password__input--error {
	background-color: #fbeae5;
	border-color: #bf0711;
}
.password__error-message {
	width: 100%;
	margin-top: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.password__error-message .icon-error {
	margin-right: 5px;
}
.password__login-here {
	text-align: left;
}
.js-password__form--hide {
	display: none;
}
.icon-error {
	fill: #d20000;
	width: 0.86667em;
	height: 0.86667em;
	margin-top: 0.1em;
	flex-shrink: 0;
}
.icon-error__symbol {
	fill: #fff;
}
.password__label,
.password__titles-password {
	margin-bottom: 3px;
}
.password__label,
.password__titles-password,
.password__form-label {
	font-weight: bold;
}
@media(max-width: 767px) {
	.password__form,
	.password__title,
	.password__form-password {
		width: 100%;
	}
	.password__login-here {
		margin: 0;
	}
}
@media(max-width: 479px) {
	.password__wrapper {
		max-width: 100%;
		padding: 10px 15px;
	}
}