.call-to-action .cta-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 2%;
	max-width: 47%;
}
.call-to-action__wrappper {
    align-items: center;
    margin: 0 auto;
}
.call-to-action__title--hide {
    display: none;
}
.call-to-action__block {
    position: relative;
    overflow: hidden;
}
.call-to-action__block, .call-to-action__learn-more-button, .call-to-action__text-above-button, .call-to-action__content-button, .call-to-action__wrappper, .call-to-action__image-wrapper, .call-to-action__image-wrapper img, .call-to-action__banner {
    width: 100%;
}
.call-to-action__banner {
    position: absolute;
    left: 0;
    z-index: -1;
}
.call-to-action__content-button, .call-to-action__wrappper {
    display: flex;
    justify-content: space-evenly;
}
.call-to-action .buy-now {
	position: relative;
	width: 100%;
}
.call-to-action .buy-now .buy-now-bg {
	position: absolute;
	left: 0;
	width: 100%;
	background: #9c2135;
	z-index: -1;
	transform: translateY(-50%);
}
.call-to-action .buy-now .buy-now-wrapper {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	max-width: 1280px;
	margin: 0 auto;
}
.call-to-action .buy-now .buy-now-wrapper .buy-now-btn {
	display: block;
	background: #fff;
	color: #9c2135;
	padding: 15px 30px;
	border: 1px solid transparent;
	text-align: center;
}
.call-to-action .buy-now .buy-now-wrapper .buy-now-btn:hover,
.call-to-action .buy-now .buy-now-wrapper .buy-now-btn:active {
	color: #fff;
	background: #9c2135;
	border-color: #fff;
}
.call-to-action .buy-now .buy-now-wrapper img {
	max-width: 400px;
	flex: 1;
}
.call-to-action .cart-button {
height: 58px;
}

@media (max-width: 1019px) {
	.call-to-action .buy-now .buy-now-wrapper {
		font-size: 16px;
	}
	body .call-to-action .buy-now .buy-now-wrapper .buy-now-btn {
		padding: 15px 30px;
		font-size: 30px;
	}
}
@media (max-width: 767px) {
  	
	body .call-to-action {
		margin-top: 15px;
	}
	body .call-to-action .buy-now {
		padding: 6% 0;
	}
	body .call-to-action .buy-now .buy-now-bg {
		top: 0;
		transform: translateY(0);
		height: 100%;
	}
	body .call-to-action .buy-now .buy-now-wrapper {
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
	}
	.call-to-action .cta-content-wrapper {
		max-width: 95%;
	}
	body .call-to-action .buy-now .buy-now-wrapper form {
		width: 75%;
	}
	body .call-to-action .buy-now .buy-now-wrapper img {
		order: -1;
		margin-bottom: 30px;
	}
	body .call-to-action .buy-now .buy-now-wrapper img,
	body .call-to-action .buy-now .buy-now-wrapper .buy-now-btn {
		width: 100%;
	}
	body .call-to-action .buy-now .buy-now-wrapper .buy-now-btn {
		padding: 6px 0;
		font-size: 1.8rem;
	}
	.call-to-action .cta-content-wrapper {
		width: 100%;
	}
}
